<div class="row">

</div>

<div class="row">
  <div class="col-sm-3">
    <a href="#">User Profile Area</a>
  </div>
  <div class="col-sm-9">

    <div>
      <span>User Tweet Form</span>
    </div>

    <div>
      <h3>Twitter Feed</h3>
      <ul>
        {{#each}}
        <li>{{userName}} | {{twittername}} <br> {{tweet}} </li>
        {{/each}}
    </div>
  </div>

</div>
